body,html,li,ul{
    margin:0;
    padding:0
}
html{
    box-sizing:border-box
}
*,::after,::before{
    box-sizing:inherit
}
body{
    font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#202328;
    color:#aaa;
    font-size:.8em;
    line-height:1em;
    font-weight:600
}
a{
    color:#fafafa;
    cursor:pointer;
    text-decoration:none
}
a:hover{
    color:#fff
}
ul{
    list-style:none
}
.content li+li{
    margin-top:.25em
}
.content ul{
    list-style:disc;
    margin:.5em 0
}
.content .tabs li+li{
    margin-top:0
}
.navbar{
    min-height:4rem;
    position:relative;
    z-index:30;
    background-color:#3a3f44;
    border:1px solid #202328
}
.tabs{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-overflow-scrolling:touch;
    align-items:stretch;
    display:flex;
    font-size:1rem;
    justify-content:space-between;
    overflow:hidden;
    overflow-x:auto;
    white-space:nowrap
}
.tabs:not(:last-child){
    margin-bottom:1.5rem
}
.tabs a,.tabs ul{
    align-items:center;
    border-bottom-color:#52575c;
    border-bottom-style:solid;
    border-bottom-width:1px;
    display:flex
}
.tabs a{
    color:#aaa;
    margin-bottom:-1px;
    padding:.5em 1em;
    vertical-align:top;
    justify-content:center
}
.tabs li{
    display:block
}
.tabs ul{
    flex-grow:1;
    flex-shrink:0;
    justify-content:flex-start
}
.tabs.is-centered ul{
    justify-content:center
}
.tabs.is-toggle a{
    border-color:#52575c;
    border-style:solid;
    border-width:1px;
    margin-bottom:0;
    position:relative
}
.tabs.is-toggle a:hover{
    background-color:#3a3f44;
    border-color:#7a8288;
    z-index:2
}
.tabs.is-toggle li+li{
    margin-left:-1px
}
.tabs.is-toggle li:first-child a{
    border-radius:4px 0 0 4px
}
.tabs.is-toggle li:last-child a{
    border-radius:0 4px 4px 0
}
.tabs.is-toggle li.is-active a{
    background-color:#3a3f44;
    border-color:#52575c;
    color:#fff;
    z-index:1
}
.tabs.is-toggle ul{
    border-bottom:none
}
.tabs.is-toggle.is-toggle-rounded li:first-child a{
    border-bottom-left-radius:290486px;
    border-top-left-radius:290486px;
    padding-left:1.25em
}
.tabs.is-toggle.is-toggle-rounded li:last-child a{
    border-bottom-right-radius:290486px;
    border-top-right-radius:290486px;
    padding-right:1.25em
}
.section{
    padding:3rem 1.5rem;
    background-color:#272b30
}
.tabs a:hover,.tabs li.is-active a{
    color:#fff;
    border-bottom-color:#fff
}
/*! CSS Used from: Embedded */
div.content{
    box-shadow:-1px -1px 11px 8px grey
}
.childcontent .tab-details ul>li:nth-child(2n){
    background-color:rgba(0,0,0,.9);
    padding:5px 2px
}
.tab-details ul{
    display:block;
    padding:5px
}
.tab-details ul li{
    list-style:none;
    margin-top:5px;
    padding:2px
}
.child li{
    display:inline-block
}
.childcontent .tab-details a:visited{
    color:unset;
}
.content .tab-details ul>li{
    grid-column-gap:.5em;
    display:grid;
    grid-template-columns:auto minmax(0,1fr)
}
@media (prefers-color-scheme:light){
    /*! Light CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css */
    .navbar,body,html{
        background-color:#fff
    }
    html{
        font-size:16px;
        -moz-osx-font-smoothing:grayscale;
        -webkit-font-smoothing:antialiased;
        min-width:300px;
        overflow-x:hidden;
        overflow-y:scroll;
        text-rendering:optimizeLegibility;
        -webkit-text-size-adjust:100%;
        -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        text-size-adjust:100%
    }
    a{
        color:#000;
        cursor:pointer;
        text-decoration:none
    }
    a:hover{
        color:#363636
    }
    .tabs a{
        align-items:center;
        border-bottom-color:#dbdbdb;
        color:#4a4a4a;
        display:flex
    }
    .tabs a:hover{
        border-bottom-color:#363636;
        color:#363636
    }
    .tabs li.is-active a{
        border-bottom-color:#3273dc;
        color:#3273dc
    }
    .tabs ul{
        border-bottom-color:#dbdbdb
    }
    .tabs.is-centered ul{
        justify-content:center
    }
    .tabs.is-toggle a{
        border-color:#dbdbdb
    }
    .tabs.is-toggle a:hover{
        background-color:#f5f5f5;
        border-color:#b5b5b5
    }
    .tabs.is-toggle li.is-active a{
        background-color:#3273dc;
        border-color:#3273dc;
        color:#fff
    }
    /*! CSS Used from: Embedded */
    div.content{
        box-shadow:-1px -1px 11px 8px grey
    }
    .childcontent .tab-details ul>li:nth-child(2n){
        background-color:rgba(0,0,0,.1)
    }
    .section{
        background-color:#fff
    }
    .navbar{
        border:unset
    }
    .del, .itm {
        color: #555;
        text-shadow: 1px 1px 0 #fff !important;
    }
    .play, .settings{
        background-color: #fff !important;
        box-shadow: 0 0 5px 1px #000 !important;
    }
    .fab img{
        filter: invert(100%);
    }
}
@media screen and (min-width:1024px){
    .navbar{
        align-items:stretch;
        display:flex;
        min-height:4rem
    }
}
div.content {
    box-shadow: -1px -1px 11px 8px grey;
}
.tab-details ul {
    display: block;
    padding: 5px;
}
.tab-details ul li {
    list-style: none;
    margin-top: 5px;
    padding: 2px;
}
.child li {
    display: inline-block;
}
span.del {
    position: absolute;
    right: .8rem;
    cursor: pointer;
}
/* Text to Speech Component*/
.fab {
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    display: block;
    z-index:99;
}
.settings,.player > * {
    position: relative;
    background-color:#272b30;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: auto;
    box-shadow: 0px 0px 5px 1px white;
}
.settings{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}
.player {
    position: absolute;
    right: 2.5rem;
    display: table;
}
#vsettings {
    background-color: white;
    top: 70%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: #272b30;
    box-shadow: 0px 0px 6px 3px grey;
    padding: 1.5rem;
    text-align: center;
    line-height: 2rem;
}
span.close {
    padding: 0 .4rem;
    position: absolute;
    top: -0.3rem;
    right: 0;
    border-radius: 50%;
    font-weight:700;
    cursor: pointer;
    text-shadow: 0 0 25px #fff;
}
.player .stop {
    position: absolute;
    right: .1rem;
    top: .8rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
.player .play {
    position: absolute;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
}
span.itm {
    position: absolute;
    left: 0.3rem;
    text-align: right;
    width: 1rem;
    text-shadow: 1px 1px 0px #000;
}
div > input {
    line-height: 1em;
    vertical-align: middle;
}
.settings img {
    width: 1.35em;
    height: 2rem;
}
.stop img {
    width: .8rem;
    height: 1.5rem;
}
.play img {
    height: 3rem;
    width: 1.5rem;
}